* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(95, 57, 129);
    color: goldenrod;
}

#myphoto {
    height: 15vh;
    width: auto;
}


a {
    color: goldenrod;
}

.name {
    
    font-family: cursive;
}

img{
    width: 40%;
    height: auto;
}