* {
  margin: 0;
  padding: 0;
  font-family: "Arial Narrow", Arial, sans-serif;
  background-color: rgb(206, 206, 251);
  
} 

header {
  padding: 1em;
  background-color: #5f3981;
  color: goldenrod;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#myphoto {
  height: 18vh;
  width: auto;
}
#namenav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #5f3981;
}

#nameheader {
  font-family: cursive;
  background-color: #5f3981;
}

a {
  color: goldenrod;
  background-color: #5f3981;
}

ul, li {
  display: inline-block;
  list-style: none;
  background-color: #5f3981;
}

article {
  margin: 1em;
  display: flex;
  flex-direction: row;
}

.headings {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25%;
  border-right: solid #5f3981;
}


section {
  margin: 1em;
}

section > p {
    font-size: 20px;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}

figure:hover > figcaption {
    font-weight: bolder;
    color:#5f3981;
    font-size: larger;
}
#featuredprojectimg:hover, .altprojectimg:hover {
    border: solid #5f3981 .5em;
    
       
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    color: goldenrod;
    font-weight: bolder;
    background-color: #5f3981;
    padding: 1em;
}

#altprojectcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.altprojects {
  width: 45%;
  height: 50%;
}

img {
  width: 100%;
  height: stretch;
  border: solid 0.25em;
  
}

#featuredprojectimg, .altprojectimg {
   box-shadow: gray .5em .5em ; 
   z-index: -1;
   
}

#topproject {
  width: 100%;
}

#featuredprojectimg {
  min-width: 100%;
}
footer, #Contact, .Contactinfo {
    background-color: #5f3981;
    margin: 0;
   
}
#contactinfo {
  display: flex;
  flex-direction: column;

  
}
@media screen and (max-width: 768px) {
  .headings {
    border: none;
  }
section {
    margin: 0;
}
  article,
  #altprojectcontainer {
    display: flex;
    flex-direction: column;
  }
  .altprojects {
    width: 100%;
  }

  figcaption,
  footer {
    text-align: center;
  }
}
