* {
  margin: 0;
  padding: 0;
  font-family: "Arial Narrow", Arial, sans-serif;
  background-color: #d7ddfa;
}

header {
  padding: 1em;
  background-color: #5f3981;
  color: goldenrod;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#myphoto {
  height: 18vh;
  width: auto;
  border-radius: 10%;
}

#myphotoheading {
  background-color: #5f3981;
  align-items: center;
  min-width: 20%;
  display: flex;
  justify-content: center;
}

#namenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5f3981;
}

#nameheader {
  font-family: cursive;
  background-color: #5f3981;
}

a {
  color: goldenrod;
  background-color: #5f3981;
}

ul,
li {
  display: flex;
  flex-direction: row;
  padding: 0 0.25em;
  list-style: none;
  background-color: #5f3981;
}

article {
  margin: 1em;
  display: flex;
  flex-direction: row;
}

.headings {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  border-right: solid #5f3981;
  color: #5f3981;
}

section {
  margin: 1em;
}

section > p {
  font-size: 20px;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}

figure:hover > figcaption {
  font-weight: bolder;
  color: #5f3981;
  font-size: larger;
}
#featuredprojectimg:hover,
.altprojectimg:hover {
  border: solid #5f3981 0.5em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  color: goldenrod;
  font-weight: bolder;
  background-color: #5f3981;
  padding: 1em;
}

.altprojectcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.col {
  flex: 50%;
}

figure > a {
  border-radius: 10%;
}

img {
  border: solid 0.25em;
  border-radius: 10%;
}

#featuredprojectimg,
.altprojectimg {
  box-shadow: gray 0.5em 0.5em;
  z-index: -1;
}

.altprojectimg {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

#topproject {
  width: 100%;
}

#featuredprojectimg {
  min-width: 100%;
}
footer,
#Contact,
.Contactinfo {
  background-color: #5f3981;
  margin-bottom: 0;
  color: goldenrod;
  border-right-color: goldenrod;
}
#contactinfo {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .headings {
    border: none;
  }

  article,
  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
  }

  p {
    margin: 1em;
  }

  .col {
    flex: 100%;
  }

  #featuredprojectimg,
  .altprojectimg {
    height: 15rem;
    width: 100%;
    object-fit: cover;
  }

  figcaption,
  footer {
    text-align: center;
  }
}
